ul,li,ol,dl,dt,dd,body,p,h1,h2,h3,h4,h5,h6,header,section,article,aside,nav,footer{
    margin:0;padding:0;
}
img,iframe{border:none;}
a{text-decoration: none;color:#333;}
ul,li,ol{list-style:none;}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.bookList-header{
    display: flex;
    justify-content: space-around;
}
.bookList-header div{
    padding: 0.5rem 0.4rem;
    box-sizing: border-box;
}
.bookList-sum{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    box-sizing: border-box;
    height: 3.5rem;
    background: #f1f1f1;
}
.bookList-sum b{
    display: block;
    background: red;
    padding: 0 1rem;
    color: white;
}
.bookList-conent{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;
    border-bottom: 1px solid #f1f1f1;
}
.bookList-conent-img{
    width:5rem;
    height:7rem
}
.bookList-conent-img img{
    width:5rem;
    height: 7rem;
}
.bookList-conent-right{
    padding-right:2rem ;
}
.bookList-conent-right h5{
    height:2.5rem
}
.bookList-conent-right div{
    height: 2.5rem;
}
.bookList-conent-right2{
    display: flex;
    justify-content: space-between;
}
.bookList-conent-right2 b{
    color: #c29b61;
}
.bookList-conent-right2 span{
    display: block;
    color: red;
}