*{
    margin: 0;
    padding: 0;
}
.leftRouter{
    /*width:68px;*/
    background: #eee;
    padding: 17px 15px;
    box-sizing: border-box;
    line-height: 50px;
    border:1px solid #ddd;
    color: #000;
    text-decoration: none;
}
.leftRouter-active{
    /*width:68px;*/
    background: #fff;
    padding: 17px 15px;
    box-sizing: border-box;
    line-height: 50px;
    border:1px solid #ddd;
    color: #000;
    text-decoration: none;
}
.route-content{
    height: 140px;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}
.route-content img{
    width:30%;
    float: left;
    height: 120px;
    margin-top: 10px;
    margin-right: 10px;
}
.route-content-r{
    width:65%;
    float: left;
    height: 120px;
    margin-top: 10px;
}
.route-content-r h3{
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 20px;
    font-size: 16px;
}
.route-content-r p{
    line-height: 20px;
    margin: 0;
    width:90%;
    height:60px;
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}
.route-left{
    width: 90px;
    float: left;
}
.author-rank{
    height: 20px;
    display: block;
    margin-top: 20px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
}
.author-rank img{
    width:17px;
    height: 17px;
    border-radius: 50%;
    float: left;
    vertical-align: middle;
    text-align: center;
    margin: 0;
}
.author-rank strong{
    line-height: 20px;
    font-weight: normal;
    float: left;
    font-style: normal;
    font-size:14px;
    padding-left: 10px;
}
.sexRank{
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-decoration: none;
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
}
.sexInput{
    border:none;
    background: #fff;
    font-size: 24px;
    margin-right: 50px;
    margin-left: 20px;
}


