@import "./font/iconfont.css";
.App {
  text-align: center;
}
.App nav{
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  line-height: 1.33333rem;
  background:  #f5f5f5;
  width:100%;
  padding: 0.5rem;
  font-size: 0.9rem;
}
.App nav a{
  color:#333;
  text-decoration: none;
}
.navActive{
  color:red
}